// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include <windows.h>

// application icon
IDI_ICON1	ICON	DISCARDABLE	"icon.ico"

/////////////////////////////////////////////////////////////////////////////
// Russian resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_RUS)
#ifdef _WIN32
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
#pragma code_page(1251)
#endif //_WIN32

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

// qmake wraps values in quotes correctly itself
#if defined(BUILDING_FROM_PRO) && !defined(IS_QT5)
#define quote(x) x
#else
#define quote2(x) #x
#define quote(x) quote2(x)
#endif

#define APP_VERSION     NVER1,NVER2,NVER3,NVER4
#define APP_VERSION_STR quote(NVER_STRING)

VS_VERSION_INFO VERSIONINFO
 FILEVERSION APP_VERSION
 PRODUCTVERSION APP_VERSION
 FILEFLAGSMASK 0x17L
#ifndef QT_NO_DEBUG
 FILEFLAGS VS_FF_DEBUG
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName",      "kambala"
            VALUE "FileDescription",  "Median XL character manager"
            VALUE "FileVersion",      APP_VERSION_STR
            VALUE "InternalName",     "MedianXLOfflineTools"
            VALUE "LegalCopyright",   "Copyright (C) kambala 2011-2019"
            VALUE "OriginalFilename", "MedianXLOfflineTools.exe"
            VALUE "ProductName",      "Median XL Offline Tools"
            VALUE "ProductVersion",   APP_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

#endif    // Russian resources
/////////////////////////////////////////////////////////////////////////////
